
.invoice {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;
  }
  
  .invoice-title {
    margin-top: 0;
  }

  .col6{
    size: 25px;
  }

  .invoice{
    background-color: rgb(185, 240, 240);
  }
  