  <head>
    <title>Conex</title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
          <a>CONEX<span>.</span></a>
        </h1>

        <!-- image logo -->
        <a href="index.html" class="logo"
          ><img src="assets/img/logo.png" alt=""
        /></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/page">Home</a></li>
            <li><a class="nav-link scrollto" routerLink="/activity">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <!-- <li>
              <a class="nav-link scrollto" href="#portfolio">Product</a>
            </li> -->
            <li class="dropdown">
              <a href="#portfolio" class="nav-link scrollto"
                ><span>Product</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="#">Promotions</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Categories</span> <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="#"> 1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"> 3</a></li>
                    <li><a href="#"> 4</a></li>
                    <li><a href="#"> 5</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- <li><a class="nav-link scrollto" href="#team"></a></li> -->

            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#"
                ><span class="avatar"></span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a routerLink="/login">Login</a></li>
                <li>
                  <a routerLink="/signup"><span>Signup</span> </a>
                </li>
              </ul>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to <span>CONEX</span></h1>
        <h2>Building Dreams, One Brick at a Time</h2>
        <div class="d-flex">
          <a class="btn-get-started scrollto"  routerLink="/login">Get Started</a>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            <p>
              Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
              adipisci expedita at voluptas atque vitae autem.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/about.jpg" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h3>
                Voluptatem dignissimos provident quasi corporis voluptates sit
                assumenda.
              </h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <ul>
                <li>
                  <i class="bx bx-store-alt"></i>
                  <div>
                    <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                    <p>
                      Magni facilis facilis repellendus cum excepturi quaerat
                      praesentium libre trade
                    </p>
                  </div>
                </li>
                <li>
                  <i class="bx bx-images"></i>
                  <div>
                    <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                    <p>
                      Quo totam dolorum at pariatur aut distinctio dolorum
                      laudantium illo direna pasata redi
                    </p>
                  </div>
                </li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="232"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>
          </div>
      </section></main>
  </body>
