<body>
<div class="container h-100">
  <div class="row h-100">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">
        <div class="text-center mt-4">
          <h1 class="h2">Welcome to CONEX</h1>
          <p class="lead">Sign in to your account to continue</p>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div class="text-center">
                <img alt="Andrew Jones" class="img-fluid rounded-circle"
                     height="132" src="https://bootdey.com/img/Content/avatar/avatar6.png" width="132">
              </div>
              <form #loginForm="ngForm" (ngSubmit)="loginbutton()">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input #emailField="ngModel" [(ngModel)]="loginUser.email" class="form-control form-control-lg"
                         id="email" name="email" placeholder="Enter your email" required type="email">
                  <!--                  <div *ngIf="emailField.touched && emailField.invalid" class="invalid-feedback">-->
                  <!--                    <div *ngIf="emailField.errors?.required">Email is required.</div>-->
                  <!--                    <div *ngIf="emailField.errors?.email">Please enter a valid email.</div>-->
                  <!--                  </div>-->
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input [(ngModel)]="loginUser.password" class="form-control form-control-lg" id="password"
                         name="password"
                         placeholder="Enter your password" required type="password">
                </div>
                <div>
                  <div class="custom-control custom-checkbox align-items-center">
                    <input [(ngModel)]="rememberMe" class="custom-control-input" name="remember-me" type="checkbox"
                           value="remember-me">
                    <label class="custom-control-label text-small">Remember me next time</label>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <p class="small mb-0">Don't have an account?
            <a routerLink="/signup">Create an Account</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
