<body>
    <table class="one">
        <caption>TIMETABLING</caption>
        <tr>
            <th rowspan="2">Profile</th>
            <th colspan="2">Monday</th>
            <th rowspan="2">Tuesday</th>
            <th rowspan="2">Wednesday</th>
        </tr>
        <tr>
            <th rowspan="1">Profile</th>
            <th rowspan="1">Monday</th>
            <th rowspan="1">Tuesday</th>
            <th rowspan="1">Wednesday</th>
        </tr>









    </table>
</body>
        <!-- <tr>
            <td class="profile-row" [width]="2"> 1</td>
            <td class="content">Content 1-1</td>
            <td class="content">Content 1-2</td>
        </tr>
        <tr>
            <td class="profile-row">Profile Row 2</td>
            <td class="content">Content 2-1</td>
            <td class="content">Content 2-2</td>
            <td class="content">Content 2-2</td>
        </tr>
        <tr>
            <td class="profile-row">Profile Row 3</td>
            <td class="content">Content 3-1</td>
            <td class="content">Content 3-2</td>
            <td class="content">Content 3-3</td>
        </tr>
        <tr>
            <td class="profile-row">Profile Row 3</td>
            <td class="content">Content 3-1</td>
            <td class="content">Content 3-2</td>
            <td class="content">Content 3-3</td>
        </tr>
        <!-- Add more rows as needed -->
    -->
